body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
	display: none;
}

.displayInlineBlock{
	display: inline-block;
}

.displayFlex{
	display: flex;
	flex-direction: row;
}

.flexGrow{
	flex-grow: 1;
}